<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Siblity Curator</title>
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<link href="{{url_for('static', filename = 'assets/img/apple-icon.png')}}" rel="apple-touch-icon" sizes="76x76">
<link href="{{url_for('static', filename = 'assets/img/favicon.ico')}}" rel="icon" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
<link href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
<link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename = 'assets/css/nucleo-icons.css')}}" rel="stylesheet" />
<link href="{{url_for('static', filename = 'assets/css/nucleo-svg.css')}}" rel="stylesheet" />
<link href="{{url_for('static', filename = 'assets/css/material-dashboard.css')}}?v=3.0.0" id="pagestyle"  rel="stylesheet" />
<link href="{{url_for('static', filename = 'assets/plugins/jsoneditor/jsoneditor.css')}}?v=3.0.0" id="pagestyle" rel="stylesheet" />
<link href="{{ url_for('static', filename = 'assets/plugins/chosen/css/chosen.css') }}" rel="stylesheet" >
<link href="{{ url_for('static', filename = 'assets/plugins/chosen/css/prism.css') }}" rel="stylesheet" >
<link href="{{ url_for('static', filename = 'assets/plugins/jsonforms/opt/bootstrap.css') }}" rel="stylesheet" >
<link href="{{ url_for('static', filename = 'assets/plugins/jsonforms/opt/bootstrap-wysihtml5.css') }}" rel="stylesheet" >
<link href="{{ url_for('static', filename = 'assets/plugins/jsonforms/opt/spectrum.css')}}" rel="stylesheet" >
<link href="{{url_for('static', filename = 'assets/css/custom.css')}}" id="pagestyle"  rel="stylesheet" />