{% extends "base.html" %}
{% block body %}
    <div class="row mb-4">
        <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Create Control Family</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body pb-2">                    
                    <hr/>
                    <form method="post"></form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block page_js %}
      <script type="text/javascript">
        $('form').jsonForm({
            schema: {
                "id": {
                    "title": "ID",
                    "type": "integer",
                    "required":true,
                },
                "key": {
                    "title": "Key",
                    "type": "string",
                    "required":true,
                },
                "label": {
                    "title": "Label",
                    "type": "string",
                    "required":true,
                },
                "level": {
                    "title": "Level",
                    "type": "string",
                    "required":true,
                    "default": "assessment"
                },
                "type": {
                    "title": "Type",
                    "type": "string",
                    "readonly":true,
                    "required":true,
                    "default":"control_family"
                },
                "order": {
                    "title": "Order",
                    "type": "integer",
                    "required":true,
                },
            },
            form:[
                {
                    "key":"id",
                    "prepend":"CF"
                },
                "key",
                "order",
                "level",
                "label",
                "type",
                {
                    "type": "submit",
                    "title": "Create Control Family",
                    "fieldHtmlClass": "btn btn-primary btn-block"
                },
            ],
            displayErrors: function (errors, formElt) {
                console.log(errors)
                for (var i=0; i<errors.length; i++) {
                  errors[i].message = "Avast! Ye best be fixin' that field!";
                }
                $(formElt).jsonFormErrors(errors, formObject);
            },
            onSubmit: function (errors, values) {
                if (!errors)
                    $.post(url, values, function(){});
            }
        });
      </script>
{% endblock %}
