<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'includes/css_imports.html' %}
</head>
<body class="g-sidenav-show  bg-gray-200">
  {% include 'includes/sidenav.html' %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    {% include 'includes/topnav.html' %}
    <div class="container-fluid py-4">
        {% block body %}{% endblock %}
        {% include 'includes/footer.html' %}
    </div>
  </main>
  {% include 'includes/js_imports.html' %}
  {% block page_js %}{% endblock %}
</body>

</html>